src/jade/index.jade
extends ./_partial/_layout

block stylesheets
  link(rel="stylesheet",href="common/css/main.css")

block scripts
  script(src = "common/js/main.js")

block content
  div.frame-all

    div#contents.frame-contents
      section#blk1.mod-blk
        div.blk-inner
          h1 Section.1
          div.mod-backstrech.js-backstrech
            img(src="common/img/main.jpg", width="2048", height="1365")

      section#blk2.mod-blk
        div.blk-inner
          h1 Section.2
          div.mod-backstrech.js-backstrech
            img(src="common/img/main2.jpg", width="2048", height="1365")

      section#blk3.mod-blk
        div.blk-inner
          h1 Section.3
          div.mod-backstrech.js-backstrech
            img(src="common/img/main3.jpg", width="2048", height="1365")

    nav#gnav.mod-gnav
      div.inner
        h1 Jimodol
        ul
          li: a(href="#blk1") Nav-1
          li: a(href="#blk2") Nav-2
          li: a(href="#blk3") Nav-3

dist/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>My Static Template</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="common/css/main.css">
    <script src="common/js/libs/modernizr.min.js"></script>
  </head>
  <body>
    <div class="frame-all">
      <div id="contents" class="frame-contents">
        <section id="blk1" class="mod-blk">
          <div class="blk-inner">
            <h1>Section.1</h1>
            <div class="mod-backstrech js-backstrech"><img src="common/img/main.jpg" width="2048" height="1365"></div>
          </div>
        </section>
        <section id="blk2" class="mod-blk">
          <div class="blk-inner">
            <h1>Section.2</h1>
            <div class="mod-backstrech js-backstrech"><img src="common/img/main2.jpg" width="2048" height="1365"></div>
          </div>
        </section>
        <section id="blk3" class="mod-blk">
          <div class="blk-inner">
            <h1>Section.3</h1>
            <div class="mod-backstrech js-backstrech"><img src="common/img/main3.jpg" width="2048" height="1365"></div>
          </div>
        </section>
      </div>
      <nav id="gnav" class="mod-gnav">
        <div class="inner">
          <h1>Jimodol</h1>
          <ul>
            <li><a href="#blk1">Nav-1</a></li>
            <li><a href="#blk2">Nav-2</a></li>
            <li><a href="#blk3">Nav-3</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <script src="common/js/libs/almond.min.js"></script>
    <script src="common/js/libs/vendor.js"></script>
    <script src="common/js/main.js"></script>
  </body>
</html>
